<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>F1 Strategy Web App</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
  <div class="container-fluid">
    <div class="row">

      <!-- Background image -->
      <div class="col-md-8 home-background">
        <div class="content">
          <h1>Welcome to the F1 Strategy Web App</h1>
          <p>Stay updated with live race data!</p>
          <a href="#" class="btn btn-primary">Get Started</a>

        </div>
      </div>

      <div class="col-md-4">

        <form action="{{ url_for('main.run_code') }}" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter a date to find races on that day</label>
            <input type="text" name="user_input" class="form-control" placeholder="Enter date here" required>
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>


        <script>
          // Function to update the displayed time
          function updateTime(timestamp) {
            const date = new Date(timestamp * 1000);
            // Format the date (example: 'YYYY-MM-DD HH:mm:ss')
            const formattedDate = date.toISOString().replace("T", " ").substring(0, 19);

            document.getElementById('selectedTime').innerText = formattedDate;
          }

          document.addEventListener("DOMContentLoaded", function () {
            const slider = document.getElementById("raceRange");
            updateTime(slider.value);
          });
        </script>


        {% if races_found %}
        <div>
          <h2>Result:</h2>
          <p>{{ races_found[0]['location'] }}</p>
        </div>

        <form action="{{ url_for('main.get_data') }}" method="POST">

          <div class="form-group">
            <label for="customRange3" class="form-label">Select a point in the race</label>

            <!-- Range Slider -->
            <input type="range" name="user_input" class="form-range" min="{{ races_found[0]['start_timestamp'] }}"
              max="{{ races_found[0]['end_timestamp'] }}" step="60" id="raceRange" oninput="updateTime(this.value)">

            <!-- Display Selected Time -->
            <p>Selected Time: <span id="selectedTime"></span></p>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect2">Select a driver</label>
            <select multiple name="driver" class="form-control" id="exampleFormControlSelect2">
              <option>Max Verstappen 1</option>
              <option>Pierre Gasly 10</option>
              <option>Sergio Pérez 11</option>
              <option>Fernando Alonso 14</option>
              <option>Charles Leclerc 16</option>
              <option>Lance Stroll 18</option>
              <option>Logan Sargeant 2</option>
              <option>Kevin Magnussen 20</option>
              <option>Yuki Tsunoda 22</option>
              <option>Alexander Albon 23</option>
              <option>Zhou Guanyu 24</option>
              <option>Nico Hülkenberg 27</option>
              <option>Daniel Ricciardo 3</option>
              <option>Esteban Ocon 31</option>
              <option>Isack Hadjar 37</option>
              <option>Oliver Bearman 50</option>
              <option>Lando Norris 4</option>
              <option>Ayumu Iwasa 40</option>
              <option>Lewis Hamilton 44</option>
              <option>Franco Colapinto 43</option>
              <option>Carlos Sainz 55</option>
              <option>Jack Doohan 61</option>
              <option>George Russell 63</option>
              <option>Valtteri Bottas 77</option>
              <option>Oscar Piastri 81</option>
              <option>Robert Shwartzman 97</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}

        {% if result %}
        <div class="bg-light">

          <h2>Driver: {{ driver_selected }}</h2>
          <div class="container mt-4">
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Driver</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through positions and create a table row for each -->
                  {% for position in positions %}
                  <tr {% if position[1]==driver_selected %} class="table-primary" {% endif %}>
                    <td><span class="fw-bold">{{ position[0] }}</span></td>
                    <td>{{ position[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <h2>Result:</h2>
          <p>{{ result }}</p>

        </div>
        {% endif %}

      </div>
    </div>
  </div>


</body>

</html>
