<!-- app/templates/login.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('main_bp.login') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email_or_username.label }}<br>
        {{ form.email_or_username(size=32) }}<br>
        {% for error in form.email_or_username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.remember() }} {{ form.remember.label }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
